@charset "UTF-8";
body {
    background-image: linear-gradient(to bottom, #41BFB3, #24776f); 
    
}

main {
    background-color: white;
    width: 900px;
    margin: auto;
    padding: 5px;
    box-shadow: 5px 5px 15px black;
    
}
h1 {color: hsl(0, 89%, 21%);
    text-align: center;
}

h2 {color: hsl(0, 89%, 21%);
    text-align: center;
}

p {text-align: justify;

}

a {
    color: black;
}