@charset "UTF-8";

body {
    margin: 0px;
}
header {
    height: 200px;
    padding: 10px;
    background-color: black;
    
}

header h1 {
    color: white;
    font-size: 8em;
    font-weight: bolder;
    text-align: center;
    
    



